div#controlers0 {
    width: 100%;
}

div#controlers1 {
    width: 100%;
}

.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
    background: #007bb9!important;
    color: white;
    font-size: 15px;
}

.awt-vis-controls-csvFilter .awt-csvFilter-button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.01) !important;
    color: #444;
    display: flex;
    padding: 15px 15px !important;
    vertical-align: middle;
}

@media screen and (max-width: 900px) {

div#controlers2 { display: none; }

}


div#controlers2 {
    width: 33% !important;
}


div#controlers3 {
    width: 30% !important;
 }

@media screen and (max-width: 900px) {

div#controlers3 {
    width: 100% !important;}

}

 div#controlers4 {
    width: 34% !important;
}

@media screen and (max-width: 900px) {

div#controlers4 {
    width: 100% !important;
 }

}

.awt-vis-controls-SearchFilter .awt-searchFilter-input {
    height: 56px !important;
}
